<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="/amdcpu/0/load/1/plot" value="false" />
    <add key="/amdcpu/0/load/2/plot" value="false" />
    <add key="/amdcpu/0/load/3/plot" value="false" />
    <add key="/amdcpu/0/load/4/plot" value="false" />
    <add key="/amdcpu/0/load/5/plot" value="false" />
    <add key="/amdcpu/0/load/6/plot" value="false" />
    <add key="/amdcpu/0/load/7/plot" value="false" />
    <add key="/amdcpu/0/load/8/plot" value="false" />
    <add key="/amdcpu/0/load/0/plot" value="false" />
    <add key="/amdcpu/0/power/0/plot" value="false" />
    <add key="/amdcpu/0/clock/0/plot" value="false" />
    <add key="/amdcpu/0/power/2/plot" value="false" />
    <add key="/amdcpu/0/power/3/plot" value="false" />
    <add key="/amdcpu/0/power/4/plot" value="false" />
    <add key="/amdcpu/0/power/5/plot" value="false" />
    <add key="/amdcpu/0/power/6/plot" value="false" />
    <add key="/amdcpu/0/power/7/plot" value="false" />
    <add key="/amdcpu/0/power/8/plot" value="false" />
    <add key="/amdcpu/0/power/9/plot" value="false" />
    <add key="/ram/load/0/plot" value="false" />
    <add key="/ram/data/0/plot" value="false" />
    <add key="/ram/data/1/plot" value="false" />
    <add key="/nvidiagpu/0/temperature/0/plot" value="false" />
    <add key="/nvidiagpu/0/clock/0/plot" value="false" />
    <add key="/nvidiagpu/0/clock/1/plot" value="false" />
    <add key="/nvidiagpu/0/clock/2/plot" value="false" />
    <add key="/nvidiagpu/0/load/0/plot" value="false" />
    <add key="/nvidiagpu/0/load/1/plot" value="false" />
    <add key="/nvidiagpu/0/load/2/plot" value="false" />
    <add key="/nvidiagpu/0/load/3/plot" value="false" />
    <add key="/nvidiagpu/0/control/0/plot" value="false" />
    <add key="/nvidiagpu/0/fan/0/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/3/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/2/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/1/plot" value="false" />
    <add key="/nvidiagpu/0/load/4/plot" value="false" />
    <add key="/nvidiagpu/0/power/0/plot" value="false" />
    <add key="/nvidiagpu/0/throughput/0/plot" value="false" />
    <add key="/nvidiagpu/0/throughput/1/plot" value="false" />
    <add key="/hdd/0/temperature/0/plot" value="false" />
    <add key="/hdd/0/load/0/plot" value="false" />
    <add key="/hdd/1/load/0/plot" value="false" />
    <add key="mainForm.Location.X" value="1122" />
    <add key="mainForm.Location.Y" value="100" />
    <add key="mainForm.Width" value="470" />
    <add key="mainForm.Height" value="640" />
    <add key="/amdcpu/0/temperature/1/plot" value="false" />
    <add key="/amdcpu/0/temperature/0/plot" value="false" />
    <add key="/amdcpu/0/clock/1/plot" value="false" />
    <add key="/amdcpu/0/clock/2/plot" value="false" />
    <add key="/amdcpu/0/clock/3/plot" value="false" />
    <add key="/amdcpu/0/clock/4/plot" value="false" />
    <add key="/amdcpu/0/clock/5/plot" value="false" />
    <add key="/amdcpu/0/clock/6/plot" value="false" />
    <add key="/amdcpu/0/clock/7/plot" value="false" />
    <add key="/amdcpu/0/clock/8/plot" value="false" />
    <add key="/amdcpu/0/power/1/plot" value="false" />
    <add key="/hdd/0/temperature/0/values" value="" />
    <add key="/hdd/0/load/0/values" value="" />
    <add key="/hdd/1/load/0/values" value="" />
    <add key="/nvidiagpu/0/temperature/0/values" value="H4sIAAAAAAAEAAvReSq/nuueBwODhFPRvwQmBjCQcJoVkQJlizs1z0OIc7MeZYGxN1kmQ8XFnPy5k+BqmBj+WEmA2Qf+H+GYxggRF3ECAIx/iDBsAAAA" />
    <add key="/nvidiagpu/0/fan/0/values" value="H4sIAAAAAAAEABNY+lR+Pdc9D4YV010+XE9gYgCBgukus+pSIOyI6S7nmRMh7BvTXP7/hLI5prtUT0yCsBumu0QxJEPYAtNdeEyg4i+muaxY89tKAsw58F8wexojmDljmgsAjwQsgHgAAAA=" />
    <add key="/nvidiagpu/0/clock/0/values" value="H4sIAAAAAAAEAOOoeyq/nuueB+OCnS58UhsEGIAAxL59+beVBIjDcOD/YudpjDBxAKRBSiIwAAAA" />
    <add key="/nvidiagpu/0/clock/1/values" value="H4sIAAAAAAAEAOOoeyq/nuueB6NAlSuf1AYBBiAAsW9f/m0lAeIwHPi/2HkaI0wcAIKjMwQwAAAA" />
    <add key="/nvidiagpu/0/clock/2/values" value="H4sIAAAAAAAEAOOoeyq/nuueBwMQ8EltEGCAgtuXf1tJgFkH/i92nsYIEwcAX2UFgDAAAAA=" />
    <add key="/nvidiagpu/0/load/0/values" value="H4sIAAAAAAAEABNY+lR+Pdc9DwYGB/sP1xOYGCDAYVZdCpTdYH+eOREmbr814AgLjC1vnQxTY8djkgRXv2LNbysJMPvAf8HsaYxQI+0BiVG/wGwAAAA=" />
    <add key="/nvidiagpu/0/load/1/values" value="H4sIAAAAAAAEABNY+lR+Pdc9DwaGBfYfricwMUCAw6y6FCh7gf25v4dYYOxtYUlQ8QZ77fyjLDD2ijW/rSTA7AP/BbOnMcLUAwB74F/oYAAAAA==" />
    <add key="/nvidiagpu/0/load/2/values" value="H4sIAAAAAAAEABNY+lR+Pdc9DwYgsJTaIMAABSvW/LaSALMO/BfMnsYIEwcAgn3jZTAAAAA=" />
    <add key="/nvidiagpu/0/load/3/values" value="H4sIAAAAAAAEABNY+lR+Pdc9DwYgsJTaIMAABRpPf1tJgFkH/k80msYIEwcAa7Ru1TAAAAA=" />
    <add key="/nvidiagpu/0/load/4/values" value="H4sIAAAAAAAEABNY+lR+Pdc9j9+sUk4fricwMQCBdoakk/+kFDD7/htxp23bOjhh7IUKSWBxR3EJp9N7f1tJgDgMB/5PNJrGCGJt/GfhBABs4o+WVAAAAA==" />
    <add key="/nvidiagpu/0/smalldata/1/values" value="H4sIAAAAAAAEABNY+lR+Pdc9jws5sq4fricwMQDBhYuyrv6TUsDsCUfkXLdt6+CEsRcqJIHFC1bKuZ7e+9tKAsRhOPB/otE0RrD4LE5XAB21daxUAAAA" />
    <add key="/nvidiagpu/0/smalldata/2/values" value="H4sIAAAAAAAEABNY+lR+Pdc9jwS1oy4fricwMQBBQswRF/9JKWD2g7JDLtu2dXDC2AsVksDiCmsPuZze+9tKAsRhOPB/otE0RrD46TcuAOhRELVUAAAA" />
    <add key="/nvidiagpu/0/smalldata/3/values" value="H4sIAAAAAAAEABNY+lR+Pdc9DwaGBtdpjhsEGMCgwfX03t9WEmD2gf8TjaYxwsQBOb4SPjAAAAA=" />
    <add key="/nvidiagpu/0/control/0/values" value="H4sIAAAAAAAEABNY+lR+Pdc9DwYGHidLqQ0CDGDA46Tx9LeVBJh94P9Eo2mMMHEACoY/0DAAAAA=" />
    <add key="/nvidiagpu/0/power/0/values" value="H4sIAAAAAAAEANt88an8eq57HlWa0x2zryYwMQBB+rIZjoYZKWB2S8M0xyzxRDC7THi64/pLELbmnWmOQTuTwOxvGdMcvYWTwexdnVMdFypAxLnDpzvOOfjHSgLEYTjw3zdsKiNY/YppjgCTSn4ReAAAAA==" />
    <add key="/nvidiagpu/0/throughput/0/values" value="H4sIAAAAAAAEAGO//lJ+Pdc9D4YD/A5WeolMDCDAssyhzToFwja4af9gbgKE7XDOvnNjEoT94ZL920AoO+CwvbphMoR94KD9Ij6oOMMJ+5i2H1YSEIn/mdNnMoKZCfIOAHNjmu14AAAA" />
    <add key="/nvidiagpu/0/throughput/1/values" value="H4sIAAAAAAAEAHvU+05+Pdc9D4aEQPtC00QmBhC4MNdeNDsFwnbws9fOS4CwG0LsdQ8lwdm5VlC2grd9mEAyhA00p8ICKu7QbO9+7LOVBJhz4P8N93mMMDUAHXiYbXgAAAA=" />
    <add key="/ram/load/0/values" value="H4sIAAAAAAAEALtaXquwnuuex67uLCf3XYlMDEAwqzzLyTAiGcy+WJzldFQHwv6ckeU0VzEBzP7gk+UkNz8JzOa0z3L6uAjCTgKyu05A2DqVQHPmRFhJgDgMB/4DACn0r59sAAAA" />
    <add key="/ram/data/0/values" value="H4sIAAAAAAAEALtaXquwnuueh2CVqKP7rkQmBiCwyxV1NIxIBrOvZIk6HtWBsJ8nizrOVUwAs3mDRB3l5ieB2Yaeoo4fF0HYmUB21wkI2y4PaM6cCCsJEIfhwH8AEe/9VmwAAAA=" />
    <add key="/ram/data/1/values" value="H4sIAAAAAAAEALtaXquwnuuex7THlxzcdyUyMQCBzd9LDoYRyWC2ANNlh6M6EPYr/ssOcxUTwOx5xpcd5OYngdlhrpcdPi6CsJ+5XHboOgFh2/y+5NB+OMJKAsRhOPAfADdtzDBsAAAA" />
    <add key="/amdcpu/0/load/0/values" value="H4sIAAAAAAAEALtaXquwnuuex8QaY0f3XYlMDCDg8c7BMCIZzK6UWuNwVAfCPjjlucNcxQQwW+DsJQe5+Ulg9rGmjQ4fF0HYSZOXOezdAmHLzrF11AwKspIAG3rgPwCdKFqwbAAAAA==" />
    <add key="/amdcpu/0/load/1/values" value="H4sIAAAAAAAEALtaXquwnuueBxuLq6P7rkQmBhBQYHA0jEgGs0Wqnzkc1YGwZ03gdJyrmABm/9nH7Cg3PwnMdjh20OHjIghbSGerw94tELbbK2tHzaAgKwmwoQf+AwDGNWwHbAAAAA==" />
    <add key="/amdcpu/0/load/2/values" value="H4sIAAAAAAAEALtaXquwnuuex4RQXUf3XYlMDGBQ5WAYkQxmi1Q3ORzVgbDvCax0mKuYAGb/sjvkIDc/Ccx+vbXT4eMiCHvpvESHvVsg7G0dko6aQUFWEmAzD/wHAMUuU3psAAAA" />
    <add key="/amdcpu/0/load/3/values" value="H4sIAAAAAAAEALtaXquwnuueR8iCPw7uuxKZGECgYZGDYUQymO2To+dwVAfC9j+/22GuYgJUjbWD3PwkMHsDi77Dx0UQNt9cMYe9WyDsdlEdxyupQVYSYA0H/gMAm29pD2wAAAA=" />
    <add key="/amdcpu/0/load/4/values" value="H4sIAAAAAAAEALtaXquwnuueh1M2q6P7rkQmBjDQdzCMSAazJ8w9bn9UB8L2PafvMFcxAcyelirmIDc/CczOufjQ/uMiCDvE8af93i0QtpDDV4crqUFWEmAzD/wHAOwpCAZsAAAA" />
    <add key="/amdcpu/0/load/5/values" value="H4sIAAAAAAAEALtaXquwnuuex8Yrao7uuxKZGECggdPRMCIZzFYr63c4qgNhK3w96DBXMQHM/rVvq4Pc/CQwW/zeCoePiyBsh4o5Dnu3QNh5C3Qcr6QGWUmADT3wHwAr6loKbAAAAA==" />
    <add key="/amdcpu/0/load/6/values" value="H4sIAAAAAAAEALtaXquwnuueR5B6t6P7rkQmBhA4EOVoGJEMZr9J0XY8qgNhT2nxc5yrmABmV8kFOcrNTwKzhc5oO35cBGGfuKjhuHcLhH3UosPxSmqQlQTE0P8A/gHjMGwAAAA=" />
    <add key="/amdcpu/0/load/7/values" value="H4sIAAAAAAAEALtaXquwnuuex4/Vyo7uuxKZGECg4a2DYUQymN0l2+lwVAfC5lm91WGuYgKYfaJwpYPc/CQwe9usaQ4fF0HY862qHPZugbCfSds4XkkNspIAG3rgPwCmNAdabAAAAA==" />
    <add key="/amdcpu/0/load/8/values" value="H4sIAAAAAAAEALtaXquwnuueRxCDq6P7rkQmBhBoUHI0jEgGsyuS/jsc1YGw/3PqOM5VTACzp6kKOMrNTwKzrU7yOH5cBGGffMzjuHcLhN3dVe54JTXISgJs6IH/ACiwV11sAAAA" />
    <add key="/amdcpu/0/temperature/0/values" value="H4sIAAAAAAAEALtaXquwnuueB4NCvZP7rkQmBhB4kOtkGJEMYSckOx3VgbIPJDjNVUyAqil3kpufBGE7pDh9XARjxznt3QJlN9Q7TT4cZiUB0fwfALla8N5sAAAA" />
    <add key="/amdcpu/0/temperature/1/values" value="H4sIAAAAAAAEALtaXquwnuueB8OEyU7uuxKZGEDgQ5eTYUQyhL2h1emoDpSd0OI0VzEBqqbfSW5+EoSt0Ob0cRGM3ey0dwuUfWCy0+TDYVYSEM5/AM58GRJsAAAA" />
    <add key="/amdcpu/0/temperature/2/values" value="" />
    <add key="/amdcpu/0/temperature/3/values" value="" />
    <add key="/amdcpu/0/temperature/4/values" value="" />
    <add key="/amdcpu/0/temperature/5/values" value="" />
    <add key="/amdcpu/0/temperature/6/values" value="" />
    <add key="/amdcpu/0/temperature/7/values" value="" />
    <add key="/amdcpu/0/power/0/values" value="H4sIAAAAAAAEALtaXquwnuueh+Frcyf3XYlMDEAg8VTbyTAiGcxO8lFwOqoDYU+qUXKaq5gAZpuXKTnJzU8Cs7+ek3P6uAjCPt2p4NR1AsKWiDZ1un4tzEoCxGE48B8AGFjtSGwAAAA=" />
    <add key="/amdcpu/0/power/1/values" value="H4sIAAAAAAAEALtaXquwnuueh4vYYUf3XYlMDEDA7rne0TAiGczuLZ7seFQHwj62YLbjXMUEMFtj4yxHuflJYPZ0s8mOHxdB2KIW0xy7TkDY/37ud7x+LcxKAsRhOPAfADzQljpsAAAA" />
    <add key="/amdcpu/0/clock/0/values" value="" />
    <add key="/amdcpu/0/power/2/values" value="H4sIAAAAAAAEALtaXquwnuueR5OEi4P7rkQmBiCw81JyMIxIBrPVD3I6HNWBsK8+F3GYq5gAZqv5CjrIzU8Cs/0Y2Rw+LoKw826zO3SdgLC5E/UczgmGW0mAOAwH/gMAiapl+mwAAAA=" />
    <add key="/amdcpu/0/clock/1/values" value="H4sIAAAAAAAEALtaXquwnuueh8z7Slf3XYlMDECwb1uVq2FEMpg9QaratXBCByeM3XUiCSz+JqjK9ZxguJUEiMNw4D8AEZdqEkgAAAA=" />
    <add key="/amdcpu/0/power/3/values" value="H4sIAAAAAAAEALtaXquwnuuexwJecwf3XYlMDEDAVSjjYBiRDGavTmFzOKoDYZdYCTrMVUwAs2dl8znIzU8Csx9ZsTp8XARhZy1hdeg6AWEbZxg4nBMMt5IAcRgO/AcAUbT6HGwAAAA=" />
    <add key="/amdcpu/0/clock/2/values" value="H4sIAAAAAAAEALtaXquwnuueh8z7Slf3XYlMDECwb1uVq2FEMpg9QaratXBCByeM3XUiCSz+JqjK9ZxguJUEiMNw4D8AEZdqEkgAAAA=" />
    <add key="/amdcpu/0/power/4/values" value="H4sIAAAAAAAEALtaXquwnuueh3mkkYP7rkQmBiBI+a/sYBiRDGbv3sLlcFQHwu5zF3KYq5gAZh8WEHSQm58EZocuZHX4uAjC/lPB5dB1AsK+v9He4ZxguJUEiMNw4D8AglAxXGwAAAA=" />
    <add key="/amdcpu/0/clock/3/values" value="H4sIAAAAAAAEALtaXquwnuueh8z7Slf3XYlMDECwb1uVq2FEMpg9QaratXBCByeM3XUiCSz+JqjK9ZxguJUEiMNw4D8AEZdqEkgAAAA=" />
    <add key="/amdcpu/0/power/5/values" value="H4sIAAAAAAAEALtaXquwnuuexyExGwf3XYlMDECQJsbkYBiRDGan73pkf1QHwn5i8d1+rmICmP3q1W97uflJYLao/lv7j4sg7JOSf+y7TkDYb5yEHM4JhltJgDgMB/4DAP0JwuNsAAAA" />
    <add key="/amdcpu/0/clock/4/values" value="H4sIAAAAAAAEALtaXquwnuueh8z7Slf3XYlMDECwb1uVq2FEMpg9QaratXBCByeM3XUiCSz+JqjK9ZxguJUEiMNw4D8AEZdqEkgAAAA=" />
    <add key="/amdcpu/0/power/6/values" value="H4sIAAAAAAAEALtaXquwnuueR7yymYP7rkQmBiAwqTJzMIxIBrPNr3I7HNWBsBMb+B3mKiaA2Q3Vgg5y85PA7Irngg4fF0HY0RPZHbpOQNjp5x0dVC3DrSRAHIYD/wFiIXg2bAAAAA==" />
    <add key="/amdcpu/0/clock/5/values" value="H4sIAAAAAAAEALtaXquwnuueh8z7Slf3XYlMDECwb1uVq2FEMpg9QaratXBCByeM3XUiCSz+JqjKVdUy3EoCxGE48B8AZV4yF0gAAAA=" />
    <add key="/amdcpu/0/power/7/values" value="H4sIAAAAAAAEALtaXquwnuuex59byQ7uuxKZGIBgCVeMg2FEMpgtt93c4agOhH30l4vDXMUEMFs00sVBbn4SmL3/s4nDx0UQ9rxjFg5dJyBsa88YB1XLcCsJEIfhwH8AlCZ/tmwAAAA=" />
    <add key="/amdcpu/0/clock/6/values" value="H4sIAAAAAAAEALtaXquwnuueh8z7Slf3XYlMDECwb1uVq2FEMpg9QaratXBCByeM3XUiCSz+JqjKVdUy3EoCxGE48B8AZV4yF0gAAAA=" />
    <add key="/amdcpu/0/power/8/values" value="H4sIAAAAAAAEALtaXquwnuueh0ybmYP7rkQmBiAwOaHpYBiRDGYziYg6HNWBsP8fF3eYq5gAZiftFnaQm58EZs/w43f4uAjCnrCMz6HrBIT9e6+Fg6pluJUEiMNw4D8AmZSI7WwAAAA=" />
    <add key="/amdcpu/0/clock/7/values" value="H4sIAAAAAAAEALtaXquwnuueh8z7Slf3XYlMDECwb1uVq2FEMpg9QaratXBCByeM3XUiCSz+JqjKVdUy3EoCxGE48B8AZV4yF0gAAAA=" />
    <add key="/amdcpu/0/power/9/values" value="H4sIAAAAAAAEALtaXquwnuueR+f0OAf3XYlMDEAgoxXpYBiRDGYHHjFzOKoDYR/bY+MwVzEBzA62snWQm58EZl8XtXH4uAjCztnj49B1AsL2tK5wULUMt5IAcRgO/AcAJFfxX2wAAAA=" />
    <add key="/amdcpu/0/clock/8/values" value="H4sIAAAAAAAEALtaXquwnuueh8z7Slf3XYlMDECwb1uVq2FEMpg9QaratXBCByeM3XUiCSz+JqjKVdUy3EoCxGE48B8AZV4yF0gAAAA=" />
    <add key="plotPanel.MinTimeSpan" value="0" />
    <add key="plotPanel.MaxTimeSpan" value="600" />
    <add key="plotPanel.MinVoltage" value="NaN" />
    <add key="plotPanel.MaxVoltage" value="NaN" />
    <add key="plotPanel.MinClock" value="NaN" />
    <add key="plotPanel.MaxClock" value="NaN" />
    <add key="plotPanel.MinTemperature" value="NaN" />
    <add key="plotPanel.MaxTemperature" value="NaN" />
    <add key="plotPanel.MinLoad" value="NaN" />
    <add key="plotPanel.MaxLoad" value="NaN" />
    <add key="plotPanel.MinFan" value="NaN" />
    <add key="plotPanel.MaxFan" value="NaN" />
    <add key="plotPanel.MinFlow" value="NaN" />
    <add key="plotPanel.MaxFlow" value="NaN" />
    <add key="plotPanel.MinControl" value="NaN" />
    <add key="plotPanel.MaxControl" value="NaN" />
    <add key="plotPanel.MinLevel" value="NaN" />
    <add key="plotPanel.MaxLevel" value="NaN" />
    <add key="plotPanel.MinFactor" value="NaN" />
    <add key="plotPanel.MaxFactor" value="NaN" />
    <add key="plotPanel.MinPower" value="NaN" />
    <add key="plotPanel.MaxPower" value="NaN" />
    <add key="plotPanel.MinData" value="NaN" />
    <add key="plotPanel.MaxData" value="NaN" />
    <add key="plotPanel.MinSmallData" value="NaN" />
    <add key="plotPanel.MaxSmallData" value="NaN" />
    <add key="plotPanel.MinThroughput" value="NaN" />
    <add key="plotPanel.MaxThroughput" value="NaN" />
    <add key="treeView.Columns.Sensor.Width" value="250" />
    <add key="treeView.Columns.Value.Width" value="100" />
    <add key="treeView.Columns.Min.Width" value="100" />
    <add key="treeView.Columns.Max.Width" value="100" />
    <add key="listenerPort" value="8085" />
  </appSettings>
</configuration>