<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="/amdcpu/0/load/1/plot" value="false" />
    <add key="/amdcpu/0/load/2/plot" value="false" />
    <add key="/amdcpu/0/load/3/plot" value="false" />
    <add key="/amdcpu/0/load/4/plot" value="false" />
    <add key="/amdcpu/0/load/5/plot" value="false" />
    <add key="/amdcpu/0/load/6/plot" value="false" />
    <add key="/amdcpu/0/load/7/plot" value="false" />
    <add key="/amdcpu/0/load/8/plot" value="false" />
    <add key="/amdcpu/0/load/0/plot" value="false" />
    <add key="/amdcpu/0/power/0/plot" value="false" />
    <add key="/amdcpu/0/clock/0/plot" value="false" />
    <add key="/amdcpu/0/power/2/plot" value="false" />
    <add key="/amdcpu/0/power/3/plot" value="false" />
    <add key="/amdcpu/0/power/4/plot" value="false" />
    <add key="/amdcpu/0/power/5/plot" value="false" />
    <add key="/amdcpu/0/power/6/plot" value="false" />
    <add key="/amdcpu/0/power/7/plot" value="false" />
    <add key="/amdcpu/0/power/8/plot" value="false" />
    <add key="/amdcpu/0/power/9/plot" value="false" />
    <add key="/ram/load/0/plot" value="false" />
    <add key="/ram/data/0/plot" value="false" />
    <add key="/ram/data/1/plot" value="false" />
    <add key="/nvidiagpu/0/temperature/0/plot" value="false" />
    <add key="/nvidiagpu/0/clock/0/plot" value="false" />
    <add key="/nvidiagpu/0/clock/1/plot" value="false" />
    <add key="/nvidiagpu/0/clock/2/plot" value="false" />
    <add key="/nvidiagpu/0/load/0/plot" value="false" />
    <add key="/nvidiagpu/0/load/1/plot" value="false" />
    <add key="/nvidiagpu/0/load/2/plot" value="false" />
    <add key="/nvidiagpu/0/load/3/plot" value="false" />
    <add key="/nvidiagpu/0/control/0/plot" value="false" />
    <add key="/nvidiagpu/0/fan/0/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/3/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/2/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/1/plot" value="false" />
    <add key="/nvidiagpu/0/load/4/plot" value="false" />
    <add key="/nvidiagpu/0/power/0/plot" value="false" />
    <add key="/nvidiagpu/0/throughput/0/plot" value="false" />
    <add key="/nvidiagpu/0/throughput/1/plot" value="false" />
    <add key="/hdd/0/temperature/0/plot" value="false" />
    <add key="/hdd/0/load/0/plot" value="false" />
    <add key="/hdd/1/load/0/plot" value="false" />
    <add key="mainForm.Location.X" value="772" />
    <add key="mainForm.Location.Y" value="220" />
    <add key="mainForm.Width" value="705" />
    <add key="mainForm.Height" value="640" />
    <add key="/amdcpu/0/temperature/1/plot" value="false" />
    <add key="/amdcpu/0/temperature/0/plot" value="false" />
    <add key="/amdcpu/0/clock/1/plot" value="false" />
    <add key="/amdcpu/0/clock/2/plot" value="false" />
    <add key="/amdcpu/0/clock/3/plot" value="false" />
    <add key="/amdcpu/0/clock/4/plot" value="false" />
    <add key="/amdcpu/0/clock/5/plot" value="false" />
    <add key="/amdcpu/0/clock/6/plot" value="false" />
    <add key="/amdcpu/0/clock/7/plot" value="false" />
    <add key="/amdcpu/0/clock/8/plot" value="false" />
    <add key="/amdcpu/0/power/1/plot" value="false" />
    <add key="/hdd/0/temperature/0/values" value="" />
    <add key="/hdd/1/load/0/values" value="" />
    <add key="/hdd/0/load/0/values" value="" />
    <add key="/nvidiagpu/0/throughput/1/values" value="H4sIAAAAAAAEAGttKjW5qX/Pg4HhwH+3mgBGBjDwtzu9LJkJzNygaO/ZmwRhM5jbBx9KgLAbtOwAQv/hNjwAAAA=" />
    <add key="/nvidiagpu/0/throughput/0/values" value="H4sIAAAAAAAEAGttKjW5qX/Pg4HhwP/gXd6MDCBwYIl9YHEyE5it0GA/aWYShO0wyY77WQKU7W8HAKXHr6M8AAAA" />
    <add key="/nvidiagpu/0/power/0/values" value="H4sIAAAAAAAEAGttKjW5qX/Pg4HhwP+KaHdGBiCwmT/V8cfsZCYQW3POVMecGUlgtpT+NMfnuxPA7K6D0xwBWrgHhzwAAAA=" />
    <add key="/nvidiagpu/0/control/0/values" value="H4sIAAAAAAAEAJPmKDa5qX/Pg4HhwP/J6zwZGcCAx4n/gxo7jA0AM24nsyQAAAA=" />
    <add key="/nvidiagpu/0/smalldata/3/values" value="H4sIAAAAAAAEAJPmKDa5qX/Pg4HhwP9HVz0ZGcCgwfXACTV2GBsAUk5ciCQAAAA=" />
    <add key="/nvidiagpu/0/smalldata/2/values" value="H4sIAAAAAAAEAJPmKDa5qX/Pg4HhwP9HVz0ZGUDAYY3L8pJkJhDzAJBtPyMJzGaYttrl1u4EMLtBZLULAF45LXg8AAAA" />
    <add key="/nvidiagpu/0/smalldata/1/values" value="H4sIAAAAAAAEAJPmKDa5qX/Pg4HhwP9HVz0ZGUDggabr8pJkJhBzwX1NV/sZSWA2g6mW663dCWD2gVItVwDzctWAPAAAAA==" />
    <add key="/nvidiagpu/0/load/4/values" value="H4sIAAAAAAAEAJPmKDa5qX/Pg4HhwP9HVz0ZGUBgEpvT8pJkJhBzGpBtPyMJzDbgZXO6tTsBzGZZweoEAP941LE8AAAA" />
    <add key="/nvidiagpu/0/load/3/values" value="H4sIAAAAAAAEAJPmKDa5qX/Pg4HhwP/J6zwZGaDgzBY1dhgbAMPUzzEkAAAA" />
    <add key="/nvidiagpu/0/load/2/values" value="H4sIAAAAAAAEAJPmKDa5qX/Pg4HhwP/J6zwZGaDgzBY1dhgbAMPUzzEkAAAA" />
    <add key="/nvidiagpu/0/load/1/values" value="H4sIAAAAAAAEAJPmKDa5qX/Pg4HhwP/J6zwZGcBAwUE2MZkJwm6wl7icBGULOExvSICyD9gDAH7YnUc8AAAA" />
    <add key="/nvidiagpu/0/load/0/values" value="H4sIAAAAAAAEAHM+W2RyU/+eBwPDgf/ZLz0ZGSDAXjYxmQnKZpC4nARlL7Cf3pAAE7cHABcnETM8AAAA" />
    <add key="/nvidiagpu/0/clock/2/values" value="H4sIAAAAAAAEAHM+W2RyU/+eBwPDgf/ZLz0ZGaDgzBY1dhgbAFGbME0kAAAA" />
    <add key="/nvidiagpu/0/clock/1/values" value="H4sIAAAAAAAEAHM+W2RyU/+eBwPDgf/ZLz0ZGYCAUaDK9cwWNXYYGwCfPjxIJAAAAA==" />
    <add key="/nvidiagpu/0/clock/0/values" value="H4sIAAAAAAAEAHM+W2RyU/+eBwPDgf/ZLz0ZGYCAccFOlzNb1NhhbACzwa/7JAAAAA==" />
    <add key="/nvidiagpu/0/fan/0/values" value="H4sIAAAAAAAEAHM+W2RyU/+eBwPDgf/ZLz0ZGUDgwzSXb7OTmcBsgeku9jOSIGyH6S63didA2AXTXQBdWaU9PAAAAA==" />
    <add key="/nvidiagpu/0/temperature/0/values" value="H4sIAAAAAAAEAHM+W2RyU/+eBwPDgf+r13kyMoCBjFP5CTV2GBsAjtxRSyQAAAA=" />
    <add key="/ram/data/1/values" value="H4sIAAAAAAAEAJvZG2tyU/+eBwPDgf/qH38wMgCBXvtOh823kphAbJu1Ox0CFyWC2Tp+exyYnCHsa+v3OAAAIqBuqjwAAAA=" />
    <add key="/ram/data/0/values" value="H4sIAAAAAAAEAHMTjzW5qX/Pg4HhwP+q9J+MDEDgqqHkuPlWEhOIbSeq5Bi4KBHMPnZEwZHJGcL+OFnBEQC+vxLdPAAAAA==" />
    <add key="/ram/load/0/values" value="H4sIAAAAAAAEAHMTjzW5qX/Pg4HhwP+q9J+MDECQVFjntPlWEhOI3RZc5xS4KBHMnuRc48TkDGF//lbtBABmhO6aPAAAAA==" />
    <add key="/amdcpu/0/clock/8/values" value="H4sIAAAAAAAEAPOfEG1yU/+eBwPDgf+F734xMgBBj0al6+ZbSUwgNlNIlWvgokQwe6l0tSuTM4Qd11PpCgBVPeGhPAAAAA==" />
    <add key="/amdcpu/0/power/9/values" value="H4sIAAAAAAAEAPOfEG1yU/+eBwPDgf+F734xMgDB/BB7h823kphA7IwDKg6BixLBbM0FCQ5MzhD2bFFXBwDdJzZePAAAAA==" />
    <add key="/amdcpu/0/clock/7/values" value="H4sIAAAAAAAEAPOfEG1yU/+eBwPDgf+F734xMgBBj0al6+ZbSUwg9hHXVNfARYlg9lLpalcmZwg7rqfSFQAtR5wEPAAAAA==" />
    <add key="/amdcpu/0/power/8/values" value="H4sIAAAAAAAEAPOfEG1yU/+eBwPDgf+F734xMgBB310mh823kphA7ApBNofARYlgdu4XdgcmZwhbPIbFAQBXw03bPAAAAA==" />
    <add key="/amdcpu/0/clock/6/values" value="H4sIAAAAAAAEAPOfEG1yU/+eBwPDgf+F734xMgBBj0al6+ZbSUwgNlNIlWvgokQwe6l0tSuTM4Qd11PpCgBVPeGhPAAAAA==" />
    <add key="/amdcpu/0/power/7/values" value="H4sIAAAAAAAEADPKjDa5qX/Pg4HhwP8+0d+MDECwOEPMYfOtJCYQ+5CIlEPgokQwOzFI0YHJGcJ27BdwAACL2ABoPAAAAA==" />
    <add key="/amdcpu/0/clock/5/values" value="H4sIAAAAAAAEADPKjDa5qX/Pg4HhwP8+0d+MDEDw6WGK6+ZbSUwgNlNIlWvgokQwe6l0tSuTM4Qd11PpCgDyKyzrPAAAAA==" />
    <add key="/amdcpu/0/power/6/values" value="H4sIAAAAAAAEADPKjDa5qX/Pg4HhwP8+0d+MDEBQuoXXYfOtJCYQu2LjQ/vARYlgdpLBD3smZwh796nn9gCNtXdLPAAAAA==" />
    <add key="/amdcpu/0/clock/4/values" value="H4sIAAAAAAAEADPKjDa5qX/Pg4HhwP8+0d+MDEBg8KHSdfOtJCYQmymkyjVwUSKYncab5srkDGHH9VS6AgAoCRmEPAAAAA==" />
    <add key="/amdcpu/0/power/5/values" value="H4sIAAAAAAAEADPKjDa5qX/Pg4HhwP8+0d+MDECwadcT+823kphA7Fl1X+wDFyWC2UtW/rRncoaw6+4xOQAADtOoSjwAAAA=" />
    <add key="/amdcpu/0/clock/3/values" value="H4sIAAAAAAAEADPKjDa5qX/Pg4HhwP8+0d+MDEBg8KHSdfOtJCYQmymkyjVwUSKYfftUqiuTM4Qd11PpCgBhQqpDPAAAAA==" />
    <add key="/amdcpu/0/power/4/values" value="H4sIAAAAAAAEADPKjDa5qX/Pg4HhwP8+0d+MDEDQl/XVfvOtJCYQm7Hvmn3gokQw+xPXC3smZwjbZ9ZrewBl1Cr6PAAAAA==" />
    <add key="/amdcpu/0/clock/2/values" value="H4sIAAAAAAAEADPKjDa5qX/Pg4HhwP8+0d+MDEBg8KHSdfOtJCYQmymkyjVwUSKYvVS62pXJGcKO66l0BQBeoYJoPAAAAA==" />
    <add key="/amdcpu/0/power/3/values" value="H4sIAAAAAAAEAGN0ija5qX/Pg4HhwP/9Nr8ZGYAg7hG/w+ZbSUwg9mYXTofARYlgtmyFuAOTM4S98vcvewDnIDG7PAAAAA==" />
    <add key="/amdcpu/0/clock/1/values" value="H4sIAAAAAAAEAGN0ija5qX/Pg4HhwP/9Nr8ZGYDA4EOl6+ZbSUwgNlNIlWvgokQw+/apVFcmZwg7rqfSFQCwq9u0PAAAAA==" />
    <add key="/amdcpu/0/power/2/values" value="H4sIAAAAAAAEAGN0ija5qX/Pg4HhwP/9Nr8ZGYAgxIHJYfOtJCYQm0//l33gokQwe60/kwOTM4St5PzJHgDmIcnaPAAAAA==" />
    <add key="/amdcpu/0/clock/0/values" value="" />
    <add key="/amdcpu/0/power/1/values" value="H4sIAAAAAAAEAHsvFW1yU/+eBwPDgf8Xk38zMgDBpA09jptvJTGB2LYmLY6BixLBbA2RSY5MzhC29rJ2RwA5EQ9tPAAAAA==" />
    <add key="/amdcpu/0/power/0/values" value="H4sIAAAAAAAEAHsvFW1yU/+eBwPDgf8Xk38zMgBBpYmM0+ZbSUwg9kJtMafARYlgdvNjWScmZwj7prWEEwAevS8FPAAAAA==" />
    <add key="/amdcpu/0/temperature/7/values" value="" />
    <add key="/amdcpu/0/temperature/6/values" value="" />
    <add key="/amdcpu/0/temperature/5/values" value="" />
    <add key="/amdcpu/0/temperature/4/values" value="" />
    <add key="/amdcpu/0/temperature/3/values" value="" />
    <add key="/amdcpu/0/temperature/2/values" value="" />
    <add key="/amdcpu/0/temperature/1/values" value="H4sIAAAAAAAEAHv0Ocrkpv49DwaGA//vdf1mZACBB/OdNt9KYgKzD0x2ClyUCGFv6HRicoayDVqcAEE2+r08AAAA" />
    <add key="/amdcpu/0/temperature/0/values" value="H4sIAAAAAAAEAHv0Ocrkpv49DwaGA//vdf1mZACBB91Om28lMYHZDfVOgYsSIeyEbCcmZxg7wQkAMp9c7zwAAAA=" />
    <add key="/amdcpu/0/load/8/values" value="H4sIAAAAAAAEANuuFGZyU/+eBwPDgf+cMQxMDEDQvOaEw+ZbSWA2i8pxh8BFiWB2tL6UI5MzhN1X9MABAPz+nFc8AAAA" />
    <add key="/amdcpu/0/load/7/values" value="H4sIAAAAAAAEAHvzPNTkpv49DwaGA/+vTGNgYgCC2YciHTbfSgKzjx2Y4hC4KBHMXpaS7MDkDGHHq1s5AADXIMIHPAAAAA==" />
    <add key="/amdcpu/0/load/6/values" value="H4sIAAAAAAAEAHvzPNTkpv49DwaGA/+vTGNgYgCCLVsFHDbfSgKzjf/ddAhclAhmr3Ca68DkDGE/uijqAACo4AWlPAAAAA==" />
    <add key="/amdcpu/0/load/5/values" value="H4sIAAAAAAAEAHvzPNTkpv49DwaGA/+vTGNgYgACi9stDptvJYHZd3YvdAhclAhm33NY5cDkDGFvYBFzAAAIxWHwPAAAAA==" />
    <add key="/amdcpu/0/load/4/values" value="H4sIAAAAAAAEAHvzPNTkpv49DwaGA/+vTGNgYgCC/x+VHTbfSgKzbZKbHAIXJYLZgrJdDkzOEPad3EoHABpUIIY8AAAA" />
    <add key="/amdcpu/0/load/3/values" value="H4sIAAAAAAAEAHvzPNTkpv49DwaGA/+vTGNgYgCCw2nv7DffSgKz71Q3OQQuSgSzmbfbODA5Q9gbWjgdAEcUPjI8AAAA" />
    <add key="/amdcpu/0/load/2/values" value="H4sIAAAAAAAEAHvzPNTkpv49DwaGA/+vTGNgYgCCPez2DptvJYHZjEazHQIXJYLZt+7OcWByhrCDApQcACS4Pdc8AAAA" />
    <add key="/amdcpu/0/load/1/values" value="H4sIAAAAAAAEAHvzPNTkpv49DwaGA/+vTGNgYgCCKUrVDptvJYHZbse3OAQuSgSzHx+c4MDkDGEndOY6AABj2r6lPAAAAA==" />
    <add key="/amdcpu/0/load/0/values" value="H4sIAAAAAAAEAHvzPNTkpv49DwaGA/+vTGNgYgCCR1HRDptvJYHZ7/uWOgQuSgSzZ5UucGByhrA/mYY7AACE3qWcPAAAAA==" />
    <add key="plotPanel.MinTimeSpan" value="0" />
    <add key="plotPanel.MaxTimeSpan" value="600" />
    <add key="plotPanel.MinVoltage" value="NaN" />
    <add key="plotPanel.MaxVoltage" value="NaN" />
    <add key="plotPanel.MinClock" value="NaN" />
    <add key="plotPanel.MaxClock" value="NaN" />
    <add key="plotPanel.MinTemperature" value="NaN" />
    <add key="plotPanel.MaxTemperature" value="NaN" />
    <add key="plotPanel.MinLoad" value="NaN" />
    <add key="plotPanel.MaxLoad" value="NaN" />
    <add key="plotPanel.MinFan" value="NaN" />
    <add key="plotPanel.MaxFan" value="NaN" />
    <add key="plotPanel.MinFlow" value="NaN" />
    <add key="plotPanel.MaxFlow" value="NaN" />
    <add key="plotPanel.MinControl" value="NaN" />
    <add key="plotPanel.MaxControl" value="NaN" />
    <add key="plotPanel.MinLevel" value="NaN" />
    <add key="plotPanel.MaxLevel" value="NaN" />
    <add key="plotPanel.MinFactor" value="NaN" />
    <add key="plotPanel.MaxFactor" value="NaN" />
    <add key="plotPanel.MinPower" value="NaN" />
    <add key="plotPanel.MaxPower" value="NaN" />
    <add key="plotPanel.MinData" value="NaN" />
    <add key="plotPanel.MaxData" value="NaN" />
    <add key="plotPanel.MinSmallData" value="NaN" />
    <add key="plotPanel.MaxSmallData" value="NaN" />
    <add key="plotPanel.MinThroughput" value="NaN" />
    <add key="plotPanel.MaxThroughput" value="NaN" />
    <add key="treeView.Columns.Sensor.Width" value="250" />
    <add key="treeView.Columns.Value.Width" value="100" />
    <add key="treeView.Columns.Min.Width" value="100" />
    <add key="treeView.Columns.Max.Width" value="100" />
    <add key="listenerPort" value="8085" />
    <add key="/intelcpu/0/load/1/plot" value="false" />
    <add key="/intelcpu/0/load/2/plot" value="false" />
    <add key="/intelcpu/0/load/3/plot" value="false" />
    <add key="/intelcpu/0/load/4/plot" value="false" />
    <add key="/intelcpu/0/load/0/plot" value="false" />
    <add key="/intelcpu/0/temperature/0/plot" value="false" />
    <add key="/intelcpu/0/temperature/1/plot" value="false" />
    <add key="/intelcpu/0/temperature/2/plot" value="false" />
    <add key="/intelcpu/0/temperature/3/plot" value="false" />
    <add key="/intelcpu/0/temperature/4/plot" value="false" />
    <add key="/intelcpu/0/clock/1/plot" value="false" />
    <add key="/intelcpu/0/clock/2/plot" value="false" />
    <add key="/intelcpu/0/clock/3/plot" value="false" />
    <add key="/intelcpu/0/clock/4/plot" value="false" />
    <add key="/intelcpu/0/power/0/plot" value="false" />
    <add key="/intelcpu/0/power/1/plot" value="false" />
    <add key="/intelcpu/0/power/2/plot" value="false" />
    <add key="/intelcpu/0/power/3/plot" value="false" />
    <add key="/intelcpu/0/clock/0/plot" value="false" />
    <add key="/intelcpu/0/power/3/values" value="H4sIAAAAAAAEADtzxvaXj9I9DwaGA/8D+90YGaDg1HMDdhgbAJtCDIEkAAAA" />
    <add key="/intelcpu/0/power/2/values" value="H4sIAAAAAAAEADtzxvaXj9I9DwaGA/8D+90YGYDgqYme7YEraUwg9vn6DtsF71PA7BLLCLss5VQwe9spG1sAVsjj6DwAAAA=" />
    <add key="/intelcpu/0/power/1/values" value="H4sIAAAAAAAEADtzxvaXj9I9DwaGA/8D+90YGYDA2Wevw4EraUwgdruvt8OC9ylgNj9Pl0OWciqYbcofZg8AiJdhKDwAAAA=" />
    <add key="/intelcpu/0/power/0/values" value="H4sIAAAAAAAEADtzxvaXj9I9DwaGA/8D+90YGYCgeyaT44EraUwgtlD7YocF71PA7HzTaw5ZyqlgdnUVrwMAnqUK9zwAAAA=" />
    <add key="/intelcpu/0/clock/4/values" value="H4sIAAAAAAAEADtzxvaXj9I9DwaGA/8D+90YGYBgR5Wg64EraUwgtt+8JtcF71PA7H/fWlyzlFPB7AUXVF0Bs7GnWjwAAAA=" />
    <add key="/intelcpu/0/clock/3/values" value="H4sIAAAAAAAEADtzxvaXj9I9DwaGA//5NV0YGYBgqWuD64adaUwg9jYrD9fjf1PA7H/fWlwnSqeC2T+TUlwBmRKsPDwAAAA=" />
    <add key="/intelcpu/0/clock/2/values" value="H4sIAAAAAAAEADtzxvaXj9I9DwaGA/83bHRkZACCpa4Nrom70phA7H2Rfa5yjKlgtoBToquxLIQtxz3ZFQAaApeSPAAAAA==" />
    <add key="/intelcpu/0/clock/1/values" value="H4sIAAAAAAAEADtzxvaXj9I9DwaGA/8zbewZGYCA9XuL69ltaUwg9jzXBtfjPKlgdtyKTtd/shC2yoMOVwCFxyOLPAAAAA==" />
    <add key="/intelcpu/0/clock/0/values" value="H4sIAAAAAAAEADtzxvaXj9I9DwaGA/8D+90YGYDgiNUJpwNX0phA7O1A9oL3KWD2DiA7SzkVzgYAyc1hQTwAAAA=" />
    <add key="/intelcpu/0/temperature/4/values" value="H4sIAAAAAAAEADtzxvaXj9I9DwaGA/+lbtgwMoBBtlPVujQmCNvFyU4hFcp2dYrihLGtnAAgU1JrPAAAAA==" />
    <add key="/intelcpu/0/temperature/3/values" value="H4sIAAAAAAAEADtzxvaXj9I9DwaGA/+lbtgwMoBBjFPVujQmCNvS6bx0KpRt7XSSF8Y2dgIAd0nJRDwAAAA=" />
    <add key="/intelcpu/0/temperature/2/values" value="H4sIAAAAAAAEADtzxvaXj9I9DwaGA/+lbtgwMoCBk1PVujQmCNvI6QFbKpRt6rRDCcbWcAIACNO1NTwAAAA=" />
    <add key="/intelcpu/0/temperature/1/values" value="H4sIAAAAAAAEADtzxvaXj9I9DwaGA/+lbtgwMoCBn1PVujQmCNvR6QFbKpTt6rRDCca2cgIAUXb1WDwAAAA=" />
    <add key="/intelcpu/0/temperature/0/values" value="H4sIAAAAAAAEADtzxvaXj9I9DwaGA/+lbtgwMoCBn1PVujQmCNvC6QFbKpRt67RDCcbWdQIAdVgp1zwAAAA=" />
    <add key="/intelcpu/0/load/4/values" value="H4sIAAAAAAAEAOtptfrlo3TPg4HhwP8oeQdGBiBQkVNyrFqXxgRiP8w46vCALRXMFv4t4bhDCcJWOC1mDwDVDbI3PAAAAA==" />
    <add key="/intelcpu/0/load/3/values" value="H4sIAAAAAAAEAOtptfrlo3TPg4HhwP8oeQdGBiCIXNLiULUujQnEDnGcav+ALRXMZmCYZr9DCcJu4DlhBwCfrlHePAAAAA==" />
    <add key="/intelcpu/0/load/2/values" value="H4sIAAAAAAAEAOtptfrlo3TPg4HhwP8oeQdGBiCwMPznULUujQnEzmBe6/CALRXMrjo222GHEoS9JlLJAQAXg9WZPAAAAA==" />
    <add key="/intelcpu/0/load/1/values" value="H4sIAAAAAAAEAOtptfrlo3TPg4HhwP8oeQdGBiAIN+h0rFqXxgRiLylqcHjAlgpma2ZccdihBGHL1Ky1BwCpOGMvPAAAAA==" />
    <add key="/intelcpu/0/load/0/values" value="H4sIAAAAAAAEAOtptfrlo3TPg4HhwP8oeQdGBiDIqJJ1rFqXxgRin+Nuc3jAlgpmm7zc6LBDCcJmejbbHgDHuH8/PAAAAA==" />
  </appSettings>
</configuration>